@import url(http://fonts.googleapis.com/css?family=Bree+Serif)
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic)

@import 'compass/reset'
@import 'compass/typography/vertical_rhythm'
@import 'compass/utilities/general/clearfix'
@import 'compass/css3/box-shadow'
@import 'compass/css3/transform'
@import 'compass/css3/transition'
@import 'compass/css3/appearance'
@import 'susy'

$color-background: #f5f7fc
$color-black: #343535
$color-white: #fefefe
$color-gray: #7c7c7c
$color-blue: #336d85
$color-blue: #4696b7

$base-font-size: 16px
$base-line-height: 24px
$rhythm-unit: "px"

$font-family-titles: 'Bree Serif', serif
$font-family-content: 'Arvo', serif

@import 'grid'

*
  box-sizing: border-box

body
  padding: 0
  margin: 0

  background: $color-background

  +adjust-font-size-to(1rem)
  font-family: $font-family-content
  color: $color-black
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -o-font-smoothing: antialiased

h1, h2, h3, h4
  font-family: $font-family-titles

a
  color: $color-blue
  &:hover
    color: $color-gray
  

.header
  padding: +rhythm(1) 0
  text-align: center
  .author
    +adjust-font-size-to(5rem)
    a
      text-decoration: none
      color: $color-black
  .slogan
    color: $color-gray
    font-family: $font-family-titles
    +adjust-font-size-to(1.3rem)

.sidebar
  text-align: right
  a
    text-decoration: none
  h1
    +adjust-font-size-to(1.3rem)
    white-space: nowrap
    a
      color: $color-black

  li a
    color: $color-gray

  .spanish-warning
    color: red
    font-weight: bold
    padding-left: 5px

.main
  padding: rhythm(1) rhythm(2)
  border-radius: 2px
  background: $color-white
  h1
    +adjust-font-size-to(2rem, 3)

.footer
  +adjust-font-size-to(0.8rem, 2)
  text-align: center
  color: $color-gray

@import 'mobile-changes'
@import 'projects-facts'