.project-facts
  padding: +rhythm(1)
  border-collapse: separate
  background: $color-black
  color: $color-white
  tbody
    td:first-child
      padding-right: 20px
      vertical-align: top
      white-space: nowrap
    td:last-child
      color: $color-gray

.main
  h1
    +adjust-font-size-to(2rem, 2)
    &+p, &+ul
      margin-top: rhythm(1)
  h2
    +adjust-font-size-to(1.5rem, 2)
  h1,h2,h3,li
    small
      color: $color-gray
      font-size: 0.8em
      white-space: nowrap

  img
    box-shadow: 0 1px 4px rgba(#000, 0.15), 0 3px 20px rgba(#000, 0.05)

  .img-wide
    max-width: 120%
    margin-top: rhythm(1)
    margin-bottom: rhythm(1)
    margin-left: -10%

  .img-right, .img-top-right
    float: right
    margin: rhythm(1)
      right: 0

  .img-top-right
    margin-top: 0

  .profile-pic
    width: 25%

  p
    margin-bottom: rhythm(1)
    &:last-child
      margin-bottom: 0

  em
    font-style: italic
  strong
    font-weight: bold

.about-me, article
  .main
    ul
      padding-left: rhythm(1)
      li:before
        content: '» '