---
title: "About"
---

%h2 About me
%img.img-right-small.img-top(src="/images/profile.jpg" alt="This is a picture of my face" title="This is a picture of my face")
:markdown
  Hey, my name is **Ezequiel Adrian Schwartzman**, I'm an *electronics engineer student by day, and web developer by night*. Online I'm refered to as **Zequez**, and some people also call me that in real life. I live in Mar del Plata, **Argentina**, and as cliché as it sounds, *I like to make stuff*.

%h2 Contact

:markdown
  If you wanna get in touch with me for whatever reason, you can try the following things:

  - **Email** me at [zequez@gmail.com](mailto:zequez@gmail.com)
  - **Call** me, **text** me or **Whatsapp** me to [+54 9 223 5235568](tel:+5492235235568)
  - **PM** me on [Reddit/u/Zequez](http://reddit.com/u/Zequez)
  - **Face** me on [Facebook/Zequez](https://facebook.com/zequez)
  - **Fork** me on [Github/Zequez](https://github.com/zequez)
  - **Network** me on [LinkedIn](https://www.linkedin.com/pub/ezequiel-schwartzman/58/727/25b)
  - **Skype** me on Skype zequez0 (personal) or ezequielschw (work)
  - **Visit** me personally at my address which I'm not putting here but you can totally visit me if you know it or if you're willing to find it or kindly ask me for it

  As you can see there are many ways to get in touch with me. If neither of those work, you can try smoke signals near my house, or sending a homing pigeon. I don't tweet.