---
title: "About"
---

%h2 About me
%img.img-right-small.img-top(src="/images/profile.jpg" alt="This is a picture of my face" title="This is a picture of my face")
:markdown
  Hey, my name is **Ezequiel Adrian Schwartzman**, I'm an *informatics engineer
  student by day, and web developer by night*. Online I'm refered to as **Zequez**,
  and some people also call me that in real life. I live in Mar del Plata, **Argentina**,
  and as cliché as it sounds, *I really just like to make stuff*.

  My strongest skills are Rails and Front-end stuff (all JS/CSS/HTML), mostly working with React now.
  You can check the [projects I made](/projects) to see the kind of stuff you can expect me to be able to do.

  As a person I strive for efficiency in my life, yet my greatest enemy is procrastination. My friends
  describe me as excitable, and my parents think I'm smart (disappointingly, college taught me otherwise).
  I prefer my coffee black and my *mate* bitter, this way I don't need neither milk nor sugar.

  If you need something done, and I have the skills to do it, and you're willing to pay for it,
  at a price that I'm willing to accept, then you might want to...

%h2 Get in touch with me

:markdown
  - **Email** me at [zequez@gmail.com](mailto:zequez@gmail.com)
  - **Call** me, **text** me or **Whatsapp** me to [+54 9 223 5235568](tel:+5492235235568)
  - **PM** me on [Reddit/u/Zequez](http://reddit.com/u/Zequez)
  - **Friend** me on [Facebook/Zequez](https://facebook.com/zequez)
  - **Tweet** me on [Twitter/Zequez](http://twitter.com/zequez)
  - **Fork** me on [Github/Zequez](https://github.com/zequez)
  - **Network** me on [LinkedIn](https://www.linkedin.com/pub/ezequiel-schwartzman/58/727/25b)
  - **Skype** me on Skype zequez0 (personal) or ezequielschw (work)
  - **Visit** me personally at my address which I'm not putting here but you can totally visit me if you know it, or if you're willing to find it, or you just kindly ask me for it

  As you can see there are many ways to contact me. If neither of those work, you can try telepathy, my telepathic address is the same as my phone number.
